<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/select-menu.css" />
    <link rel="stylesheet" href="/css/toggle.css" />

    <link rel="stylesheet" href="/css/guild.css" />
    
    <script src="/js/jquery.js"></script>
    <script src="/js/navigator_userAgent.js"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" />
    <title>Document</title>
</head>
<body>
    <%- include("../../templates/menu_guild") %> 

    <div class="content" id="content">
        <div class="page-title">
            <br>
            <h2><strong><i class="fas fa-clipboard-user"></i> Staff</strong></h2>
        </div>
        <br>
    </div>
        
    <%- include("../../templates/usertoJSON") %> 
    <%- include("../../templates/guildtoJSON") %> 
    <span id="guild-db-data" hidden>
        <% const data = { ...db } %> 
        <%= JSON.stringify(data) %>
    </span>

    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/Bitfield.js"></script>
    <script type="text/javascript" src="/js/Permissions.js"></script>
    <script type="text/javascript" src="/js/loads/guild/staff.js"></script>
    <script type="text/javascript" src="/js/select-menu.js"></script>
</body>
</html>