<header class="header">
    <a class="avatar" href="/"><img src="https://cdn.discordapp.com/avatars/777654875441463296/60bab4386da65e5332379ddd2461e834.png?size=1024" alt="avatar-lunar"></a>
    <a class="cta" href="/invite"> Invite </a>
    <a class="cta" href="/suporte"> Suporte </a>
    <a class="cta" href="/commands"> Comandos </a>
    <a class="cta" href="/profile/"> Dashboard </a>
    <a class="cta" href="/logout"> Logout </a>
    <p class="menu cta">Menu</p>
</header>
<hr class="header-hr">

<div id="mobile__menu" class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
      <a href="/invite"> Invite </a>
      <a href="/suporte"> Suporte </a>
      <a href="/commands"> Comandos </a>
      <a href="/profile/"> Dashboard </a>
      <a href="/logout"> Logout </a>
    </div>
</div>