<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/profile/menu.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    
    <script src="/js/jquery.js"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" />
    <title>Document</title>
</head>
<body>
    <%- include('../../templates/nav_bar') -%>
    <div class="wrapper">
        <div class="section">
        <div class="container">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe excepturi et voluptatibus culpa quisquam aliquid corporis delectus. Veniam cum maxime magnam nostrum aspernatur libero iure aliquam temporibus, illum autem dolorum velit quod quia eos reprehenderit? Modi facilis ad ut dolor illum, corporis ab dolores pariatur deleniti odio delectus molestiae nisi eum eaque omnis sapiente in blanditiis aut porro, harum nulla non culpa, quibusdam ea. Dignissimos iure, eaque exercitationem animi ipsam rerum assumenda, natus, id placeat recusandae et a itaque reprehenderit eveniet consectetur? Officiis tempore voluptas, corrupti magnam expedita porro excepturi suscipit odit ipsam unde placeat, ratione modi asperiores in a at assumenda! Enim ratione consectetur facere reiciendis ipsa ab dicta eos quaerat, in nulla omnis minima veniam deleniti quae quisquam deserunt odit animi voluptas impedit tenetur cumque? Sequi blanditiis consectetur dolor temporibus facere, aspernatur quis deserunt adipisci magni, quae aperiam obcaecati eum, assumenda magnam? Eveniet sed sunt laudantium inventore assumenda eaque temporibus, quae nihil optio culpa quam, velit impedit quod officia voluptatum minima aliquam, fugit quos sit. Nobis tenetur officiis nemo beatae tempore quo quia qui facere sequi aliquam explicabo voluptatibus iure, itaque, ipsam architecto ullam consequuntur illo doloremque ipsa adipisci? Aliquam incidunt dolores dolorem id quas animi minus laboriosam. Animi, nostrum dolore ipsam nesciunt fugit enim commodi quae impedit minima sint! Debitis dolorum perferendis fuga, doloremque odit quae eius quisquam. Corrupti aut minus nulla repudiandae, natus harum molestiae illo suscipit nobis vero possimus accusamus recusandae magni facere fugit voluptate error enim mollitia ipsam delectus? Earum possimus voluptatibus ex, voluptas qui aperiam expedita laboriosam temporibus molestiae dolore nisi necessitatibus perferendis aspernatur fuga quidem dignissimos et. Ratione eligendi architecto saepe maxime aliquam reprehenderit nihil ex dolores debitis, iusto, doloremque dolorem? Nam beatae dicta asperiores molestias dolor labore suscipit in! Soluta earum reiciendis veritatis reprehenderit deserunt neque eligendi molestias, quod distinctio nemo exercitationem omnis consequuntur laborum sapiente magni fuga quaerat quo dignissimos optio voluptatum laboriosam quos adipisci quis voluptatem! Quisquam exercitationem necessitatibus nihil quos tempora unde laudantium similique esse. Quos, culpa? Consequuntur repudiandae error aut. Omnis id, sint magni animi officiis facere earum sit hic culpa eum harum, eaque dignissimos corrupti dolore voluptates, esse blanditiis. Ab numquam laudantium nemo velit asperiores, corporis magni tenetur similique? Rerum necessitatibus, nam hic quos quis, quae cupiditate officia voluptatum sapiente repudiandae, eos eius deleniti ut. Enim deleniti laborum ipsam officiis totam quos veritatis accusantium ducimus odit itaque minima, expedita iusto qui in porro cumque, sunt sequi nam alias facilis voluptatibus veniam. Porro asperiores fugiat voluptatem nostrum animi ipsa deserunt autem nisi eaque, et doloremque quibusdam architecto quae, error dolore quasi! Maxime impedit, corrupti fugit ducimus cumque eos saepe odit eveniet culpa dolor quia nesciunt ea natus! Corrupti sit repudiandae dolorem, nam vero eaque. Sapiente corporis numquam doloribus doloremque obcaecati rerum dignissimos voluptas laboriosam id et amet corrupti, fuga velit esse maiores optio voluptates similique molestias iusto vitae soluta voluptatem officiis nihil in! Voluptas quia veniam tenetur. Ea sunt itaque eius, hic recusandae asperiores. Magni aut sapiente aspernatur placeat cumque accusamus cupiditate, modi obcaecati architecto dolores laborum optio, quibusdam laudantium consectetur unde non quisquam minima deleniti molestiae nostrum doloribus nemo delectus. Aliquid veniam quaerat distinctio placeat dolor perferendis minima sint aspernatur. Nulla expedita nisi consequuntur pariatur modi consequatur quas, magni praesentium sunt ex atque suscipit nihil a. Deleniti laborum eum distinctio, esse culpa fugiat, alias ab cumque quod amet nulla laudantium asperiores dolor accusantium quo! Ad reprehenderit quisquam non! Quis sunt in autem a ducimus doloremque repellat cumque nulla error earum vel praesentium modi ad sed asperiores sequi vitae perferendis, ipsum facilis dolores vero similique. Ratione veritatis modi rem impedit laboriosam iste molestias incidunt eius deserunt? Reiciendis, facilis aspernatur amet voluptates recusandae natus officia rerum, optio autem saepe sit voluptatibus? Architecto repellat odit placeat excepturi neque cupiditate, reprehenderit libero accusantium enim maiores, porro tempora! Architecto quidem quia eos saepe. Modi porro omnis corrupti, maiores alias eius accusantium odio asperiores nam, ducimus perferendis inventore sapiente nulla molestiae cumque esse quae molestias ea recusandae culpa corporis ad illum! Quasi dolor quam repellat laudantium nesciunt vero! Quod architecto eligendi ad amet maiores voluptates pariatur accusamus quos, aliquid a libero. Aspernatur illum facere laborum aliquam soluta consectetur illo quos est a unde, dolor pariatur sit suscipit ipsa quas nemo voluptate blanditiis numquam modi omnis ad debitis repudiandae et iusto. Corporis ex molestiae deleniti, excepturi quibusdam ducimus sunt quis nam distinctio velit cum totam error possimus ea, dignissimos perspiciatis cumque porro repudiandae et maxime quisquam! Odio ab consequuntur harum provident dignissimos cum ipsum voluptatibus ut tempora! Aliquid, eum temporibus tempore, eveniet cupiditate in culpa sint perspiciatis est, provident nostrum ipsa expedita sit! Iure nemo natus ex obcaecati impedit similique asperiores consequatur quaerat quod quia possimus fuga, aut exercitationem, nulla quidem architecto animi quas, provident eaque tempore soluta cumque. Optio perspiciatis tenetur adipisci eum nobis ipsa rerum expedita. Autem dolore eos sunt voluptas neque, eveniet ad pariatur itaque ut! Deleniti alias eum voluptates doloribus! Adipisci et accusantium nobis corporis obcaecati minima corrupti vel officiis velit inventore! Maiores laboriosam distinctio reiciendis ad quisquam provident voluptatum dignissimos inventore officiis, deserunt pariatur odio explicabo minima at, quo alias! Est natus impedit laboriosam doloribus sunt illum ullam sit voluptatibus. Nihil, deleniti itaque repudiandae ipsum quos laboriosam debitis sapiente quia voluptatem, eos soluta cupiditate consectetur voluptatibus ullam adipisci libero! Reiciendis iste porro veniam unde aut, blanditiis eaque temporibus ea velit ipsum labore amet itaque soluta saepe rerum esse. Quos voluptate, nostrum voluptatibus ut voluptatum nesciunt iusto cum suscipit cupiditate, officia laudantium, quis hic quae autem ab neque ducimus dicta. Deserunt, accusamus fuga. Eius nulla rem veritatis sint odit incidunt ut asperiores commodi sed nostrum officia aperiam culpa repellendus perferendis consectetur quasi, at facilis. Dolorem optio, ab saepe natus temporibus amet eaque illo magnam porro. Reiciendis expedita fugiat maiores esse quibusdam ducimus modi. Optio delectus laudantium tempora illo corrupti, odio soluta? Iusto, officia cum optio esse officiis cumque maiores doloribus quis iure ducimus illo et. Deserunt, nam at enim necessitatibus ratione ea modi sequi ut eligendi id nobis consectetur fugit placeat quos pariatur! Nihil ipsum maiores rem ea saepe. -->
        </div>
        </div>

        <!--Top Menu & Menu button-->
        <div class="sidebar">
            <div class="profile">
                <!--Profile Image-->
                <img src="<%= user.avatar %> " alt="profile_picture">
                <!--Profile Tag & ID-->
                <p><%= user.username %> </p>
            </div>
            <!--Menu item-->

            <ul>
                <li href="/" class="_item">
                    <p class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </p>
                </li>
                <li href="#" class="_item">
                    <p>
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">My Dashboard</span>
                    </p>
                </li>
                <li href="#" class="_item">
                    <p>
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">People</span>
                    </p>
                </li>
            </ul>

        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('._item').click(function() {
                const url=$(this).attr('href')
                return window.location.href = url
            })
        })
    </script>
</body>
</html>